# Gradle
.gradle/
build/
out/

# IDE
.vscode/
.idea/
*.iml
*.ipr
*.iws
.settings/
.classpath
.project
.eclipse/
bin/

# Minecraft / NeoForge runtime
run/
runs/

# OS files
Thumbs.db
.DS_Store
desktop.ini

# Logs
*.log

# JDK / Gradle caches
*.jar
!gradle/wrapper/gradle-wrapper.jar
